{% extends 'base.html.twig' %}

{% block title %}Hello MarketplaceController!{% endblock %}

{% block body %}
    {# {% include 'marketplace/stats_car.html.twig' %} #}

    <h2>Objets du marketplace</h2>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link {% if category is null %}active{% endif %}" href="{{ path('app_marketplace') }}">Tous</a>
            {% for key, itcat in itemsCategory %}
                <a class="nav-link {% if category == key %}active{% endif %}" href="{{ path('app_marketplace_items', { 'type' : key }) }}">{{itcat}}</a>
            {% endfor %}
        </div>
    </nav>

    <div class="tab-content">
        <div class="container">
            <div class="row text-center">
                {% block items %}
                    {% for item in items %}
                        {{ dump(item) }}
                    {% endfor %}
                {% endblock items %}
            </div>
        </div>
    </div>

{% endblock %}
