{% extends 'base.html.twig' %}

{% block title %}Circuits Sop'Racing{% endblock %}

{% block body %}




<div class="row">


{% for item in images_circuit_offi %}

 <div class="col-sm-3">
  <div class="card">
   <img src="/assets/images/races/officielles/{{ item.image }}" class="card-img-top" alt="...">
   <div class="card-body">
     <p class="card-text">{{ item.name }}</p>
   </div>
  </div>
  </div>


    
{% endfor %}

</div>

{% for item in images_circuit_option %}
<div class="row">
 <div class="col-sm-4">
<div class="card" >
  <img src="/assets/images/races/optionnelles/{{ item }}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{ item }}</p>
  </div>
  </div>
  </div>
</div>

    
{% endfor %}




{% endblock %}
