{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="">
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for team in teams %}
                        <tr class="table-primary" >
                            <td scope="row">{{ team.id }}</td>
                            <td>{{ team.name }}</td>
                            <td>{{ team.score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
{% endblock %}
