<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">

      <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{ asset('assets/images/smoosii.jpg') }}" alt="TODO" width="30px" height="30px" class="d-inline-block align-text-top">
      Sop'Racing
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">SIIrcuit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MarketPlace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
      </ul>
    </div>

  </div>

</nav>