{% for item in images_objets_brakers %}

 <div class="col-sm-3">
  <div class="card">
   <img src="/assets/images/items/{{ item }}" class="card-img-top" alt="...">
   <div class="card-body">
     <p class="card-text">{{ item }}</p>
   </div>
  </div>
  </div>
{% endfor %}

</div>